<h1>NgModel</h1>

<input ngModel="title"> <!--método "não dinâmico"-->

<br><br>

<input [ngModel]="title">

<br><br>

<input ngModel (ngModelChange)="onChange($event)"> <!-- para utilizar outras métodos do ngModel (como o ngModelChange) e necessário referencia a "diretiva" ngModel no elemento-->
<p>{{ nome }}</p>

<br><br>

<!--Assim como no exemplo acima podemos fazer o input e output (ngModelChange) ao mesmo tempo-->

<input [(ngModel)]="nome2">
<p>{{ nome2 }}</p>

<br><br>

<h1>Form Control</h1>

<app-input-text></app-input-text>

<app-textarea></app-textarea>

<app-select></app-select>

<app-radio-button></app-radio-button>

<app-checkbox></app-checkbox>

<app-form></app-form>

<app-form-submit></app-form-submit>

<app-form-model-group></app-form-model-group>

<app-custom-validator-form-ex1></app-custom-validator-form-ex1>

<app-custom-validator-form-ex2></app-custom-validator-form-ex2>

<app-async-custom-validator-form></app-async-custom-validator-form>

<app-standalone-control-form></app-standalone-control-form>



